/*NAVBAR*/

.navbar-nav .nav-link{
    /*color: black !important;*/
    font-family: "Rubik",sans-serif;
    margin-right: 40px;
    margin-bottom: -1px !important;
    font-size: 16px !important;
    margin-top: 0px !important;
    color: #000  !important;
    overflow: hidden;
    letter-spacing: 1px;
}

.home::after {
    background-color: white;
    content: "";
    width: 10px;
    height: 2px;
    left: 505px;
    bottom: 10px;
    transition:width 0.35s ease 0s;
    position: absolute;
  }
  
  .home:hover::after {
    width: 6%;
    background: #000 !important;
  }

  .home1::after {
    background-color: white;
    content: "";
    width: 10px;
    height: 2px;
    left: 612px;
    bottom: 10px;
    transition:width 0.45s ease 0s;
    position: absolute;
  }
  
  .home1:hover::after {
    width: 9%;
    background: #000 !important;
  }

  .home2::after {
    background-color: white;
    content: "";
    width: 10px;
    height: 2px;
    left: 765px;
    bottom: 10px;
    transition:width 0.35s ease 0s;
    position: absolute;
  }
  
  .home2:hover::after {
    width: 7%;
    background: #000 !important;
  }

  .home3::after {
    background-color: white;
    content: "";
    width: 10px;
    height: 2px;
    left: 750;
    bottom: 10px;
    transition:width 0.35s ease 0s;
    position: absolute;
    
  }
  
  .home3:hover::after {
    width: 5%;
    background: #000 !important;
  }


.nav-form{
    background: url(../images/search.png);
    background-position: 10px 11px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #3f915b;
    margin-bottom: 12px;
    margin-top: 7px !important;
}
.navbar{
    /*background: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(20px);*/
    background:#fff !important;
}
#carouselExampleControls .fa-angle-left{
    font-size: 80px;
    margin-right: 190px;
    color: #fff !important;
    margin-top: 0px;
    color: rgba(10, 0, 0, 0.7) !important;
    padding-left:40px;
    backdrop-filter: blur(20px);
}
#carouselExampleControls .fa-angle-right{
    font-size: 80px;
    margin-left: 160px;
    color: #fff !important;
    margin-top: 0px;
    color: rgba(10, 0, 0, 0.7) !important;
    width: 100px;
    backdrop-filter: blur(20px);

}

.navbar-nav{
    margin-left: 180px;
}


.nav-link .btn{
    color: white !important;
    border-radius: 43px;    
    background: /*#2b9955*/#1f6e68;
    font-size: 16px !important;
    margin-top: -8px;
}


@media screen and (max-width:1024px){
    .fas{
        color: black !important;
        cursor:context-menu !important;
        font-size: 20px !important;

    }
    .bottom-nav{
        background: white !important; 
    }

    
    .navbar-brand img{
        height: 70px !important;
        margin-left: 35px !important;        
    }
}
@media screen and (min-width:1024px){
    .fa,img{
        color: white !important;
        font-size: 1px !important;
        
    }
    .bottom-nav{
        width: 1px !important;
        height: 1px !important;
    }
    
}

.bottom-nav{
    cursor:default !important;
}

/*Cards*/
h2,h4{
    font-family: "Rubik",sans-serif !important;
    font-weight: 400;    
}
.card1,.card2,.card3{
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
}
.btn-primary{
    font-weight: 500 !important;
}
.card-body .btn-primary:hover{
    background:none !important;
    color: #2d8b72;
}
.card1{
background: #cff0ea;
}
.card2{
background: #ffe294;
}
.card3{
    background: #cff0ea;
}
 .img1,.img2,.img3{
    height: 140px !important;
    width: 100px !important;
    margin-left: 280px;
    margin-top:-70px;
}


.card1 button{
    border-radius: 90px;
    background:#3bb896;
    color: #fff;
    font-family:'Rubik',sans-serif !important;
    font-weight: 700;
    margin-top: -100px;
}

.btn-primary{
    border-radius: 90px;
    background:#3bb896;
    color: #fff;
    font-family:'Rubik',sans-serif !important;
    font-weight: 700;
    margin-top: -10px;
}

.card3 button{
    border-radius: 90px;
    background:#3bb896;
    color: #fff;
    font-family:'Rubik',sans-serif !important;
    font-weight: 700;
    margin-top: -100px;
}
.card-group{
    width:1300px ;
    padding-left: 40px;
}
.first-banner,.second-banner,.third-banner,.four-banner{
    width: 100% ;
    height: 100% ;
}


@media screen and (max-width:650px) {
    .card1,.card2,.card3{
        height: 80px;
    }

    .card-group{
        width:380px;
        margin-left: -10px;

    }
    .card_2,.card_3{
        margin-left: -1px !important;
    }
    .card_3 .card-body .btn-primary{
        margin-bottom: -10px !important;
    }
    .card_2 .card-body .btn-primary{
        margin-bottom: -10px !important;
    }
       
        .btn-primary{
        background:#3bb896;
        color: #fff;
        font-family:'Rubik',sans-serif !important;
        font-weight: 700;
        border-radius: 10px;
    }
    .img1,.img2,.img3{
        height: 70px !important;
        width: 70px !important;
        margin-left: 270px;
        margin-top:-50px;
    }   
    .btn-primary{
        margin-top: -10px !important;
    }
    .btn-1{
        margin-top: -19px !important;

    }
    .img1{
        margin-left: 230px !important;
        height: 90px !important;
        width: 90px !important;
    }
    .card_1 .card-body .btn-primary{
        margin-bottom: 10px !important;
         
    }
    .first-banner,.second-banner,.third-banner,.four-banner{
        width:100% !important;
        height: 100px  !important;
    }
    .pill1{
        padding-right: 200px;
        align-items: center !important;
        text-decoration: none !important;
        border: none !important;
    }
  
   .five-banner .card{
       margin-left:20% !important;
   }
   .five-banner h3{
       margin-left: 10%;
   }
}
/*PILLS*/


.card{
    border: none !important;
}
.tab-content .card:hover{
    transform: scale(1.05);
 }

/*Footer*/

.body-content{
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    line-height: 40px;
}

.footer{
    letter-spacing: 1px;
    width: 100%;
    background: /*#2b9955*//*#1f6e68*/#f4f9fc/*#fff*/;
    display: block;
    font-family: "Rubik",sans-serif;
    font-size: 15px !important;
    
}


.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.quick_links{
    margin-top: 30px !important;
}


h2{
    margin: 10px 0px;
    font-size: 24px;
}

.address{
    color: gray;
    margin-top: 30px;
    font-size: 15px !important;
}

.news{
    margin-top: 30px;
}

ul{
    list-style: none;
    font-size: 15px;
}

ul a{
    text-decoration: none;
    outline: none;
    color: gray;
    transition: 0.3s;
}

ul a:hover{
    text-decoration: none;
    color:#000 ;
}

.footer-items ul li{
    margin: 10px 0px;
    height: 25px;
    margin-right: 45px !important;
    margin-left: -40px !important;
    padding-right: 10px !important;
}

 .border ul li i {
     margin-right: 20px;
 }

 

 .social-media a{
     text-decoration: none;
 }

 .social-media i{
     height: 45px;
     width: 45px;
     font-size: 22px;
     color: gray;
    transition: 0.3s;
    }

    .social-media i:hover{
        color: #000;
    }
  

        
     

@media screen and (max-width:1085px) {
    .footer-items{
        width: 50%;
    }
}
@media screen and (max-width:650px) {
    .footer-items{
        width: 100%;
    }
    .fa-angle-left{
        margin-left: 140px !important;
    }
    .fa-angle-right{
        margin-right: 140px !important;
    }
    .d-block {
       margin-top: 10px !important;
    }
    .line1,.line2,.line3{
        margin-right: 980px !important;
    }
}


.footer h2{
    font-family: 'Rubik';
    color: black !important;
    font-weight: 400 ;
    color: #000 !important;
}

body{
    font-family: 'Rubik',sans-serif !important;
}

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #3bb896;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
